jdtaus-core-schemas/src/site/resources/jdtaus-text-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

  jDTAUS Text Model
  Copyright (c) 2005 Christian Schulte

  Christian Schulte, Haldener Strasse 72, 58095 Hagen, Germany
  <cs@jdtaus.org> (+49 2331 3543887)

  This library is free software; you can redistribute it and/or
  modify it under the terms of the GNU Lesser General Public
  License as published by the Free Software Foundation; either
  version 2.1 of the License, or any later version.

  This library is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public
  License along with this library; if not, write to the Free Software
  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

  Document   : jdtaus-text-1.0.xsd
  Author     : Christian Schulte <cs@jdtaus.org>
  Description: jDTAUS Text Model.

  Example usage:

  <xsd:import namespace="http://jdtaus.org/core/model/text"
              schemaLocation="http://sites.jdtaus.org/jdtaus-core/1.0.x/jdtaus-core-schemas/jdtaus-text-1.0.xsd" />

  The recommended namespace prefix is "text".

  $Id$
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:core="http://jdtaus.org/core/model"
            xmlns:text="http://jdtaus.org/core/model/text"
            targetNamespace="http://jdtaus.org/core/model/text"
            elementFormDefault="qualified"
            attributeFormDefault="qualified">
  <xsd:annotation>
    <xsd:documentation xml:lang="en"><![CDATA[
  jDTAUS Text Model
  Copyright (c) 2005 Christian Schulte

  Christian Schulte, Haldener Strasse 72, 58095 Hagen, Germany
  <cs@jdtaus.org> (+49 2331 3543887)

  This library is free software; you can redistribute it and/or
  modify it under the terms of the GNU Lesser General Public
  License as published by the Free Software Foundation; either
  version 2.1 of the License, or any later version.

  This library is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public
  License along with this library; if not, write to the Free Software
  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

  Example usage:

  <xsd:import namespace="http://jdtaus.org/core/model/text"
              schemaLocation="http://sites.jdtaus.org/jdtaus-core/1.0.x/jdtaus-core-schemas/jdtaus-text-1.0.xsd" />

  The recommended namespace prefix is "text".]]>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://jdtaus.org/core/model"
              schemaLocation="http://sites.jdtaus.org/jdtaus-core/1.0.x/jdtaus-core-schemas/jdtaus-core-1.0.xsd"/>
  <!--                                                                       -->
  <!-- Texts                                                                 -->
  <!--                                                                       -->
  <xsd:element name="texts" type="text:Texts">
    <xsd:unique name="text-language-uniqueness">
      <xsd:annotation>
        <xsd:documentation xml:lang="en"><![CDATA[
        Checks uniqueness of languages.]]>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath=".//text:text"/>
      <xsd:field xpath="@text:language"/>
    </xsd:unique>
  </xsd:element>
  <xsd:complexType name="Texts">
    <xsd:annotation>
      <xsd:documentation xml:lang="en"><![CDATA[
        List of text language pairs.]]>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="text:text" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--                                                                       -->
  <!-- Text                                                                  -->
  <!--                                                                       -->
  <xsd:element name="text" type="text:Text" />
  <xsd:complexType name="Text">
    <xsd:annotation>
      <xsd:documentation xml:lang="en"><![CDATA[
        Text paired with corresponding language.]]>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="core:Text">
        <xsd:attribute name="language" type="xsd:language" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--                                                                       -->
  <!-- Messages                                                              -->
  <!--                                                                       -->
  <xsd:element name="messages" type="text:Messages">
    <xsd:unique name="message-type-uniqueness">
      <xsd:annotation>
        <xsd:documentation xml:lang="en"><![CDATA[
        Checks uniqueness of message types.]]>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath=".//text:message"/>
      <xsd:field xpath="@text:type"/>
    </xsd:unique>
  </xsd:element>
  <xsd:complexType name="Messages">
    <xsd:annotation>
      <xsd:documentation xml:lang="en"><![CDATA[
        List of messages.]]>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="text:message" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--                                                                       -->
  <!-- Message                                                               -->
  <!--                                                                       -->
  <xsd:element name="message" type="text:Message"/>
  <xsd:complexType name="Message">
    <xsd:annotation>
      <xsd:documentation xml:lang="en"><![CDATA[
        Application message.]]>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="text:texts" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en"><![CDATA[
          Texts of the message with corresponding language.]]>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="text:arguments" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en"><![CDATA[
          Message arguments.]]>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="type" type="core:Identifier" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en"><![CDATA[
            Message type.]]>
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="messageId" type="core:Uuid" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en"><![CDATA[
            Unique message identifier of a message instance.]]>
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="timestamp" type="xsd:dateTime" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en"><![CDATA[
            The timestamp an instance of the message got created.]]>
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <!--                                                                       -->
  <!-- Arguments                                                             -->
  <!--                                                                       -->
  <xsd:element name="arguments" type="text:Arguments">
    <xsd:unique name="argument-uniqueness">
      <xsd:annotation>
        <xsd:documentation xml:lang="en"><![CDATA[
        Checks uniquenes of arguments.]]>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath=".//text:argument"/>
      <xsd:field xpath="@text:name"/>
    </xsd:unique>
  </xsd:element>
  <xsd:complexType name="Arguments">
    <xsd:annotation>
      <xsd:documentation xml:lang="en"><![CDATA[
        List of message arguments.]]>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="text:argument" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--                                                                       -->
  <!-- Argument                                                              -->
  <!--                                                                       -->
  <xsd:element name="argument" type="text:Argument" />
  <xsd:complexType name="Argument">
    <xsd:annotation>
      <xsd:documentation xml:lang="en"><![CDATA[
        Argument of a message.]]>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="text:texts" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en"><![CDATA[
        Descriptions of the argument.]]>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="name" type="core:Text1024" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en"><![CDATA[
        Name of the argument.]]>
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type" type="core:Identifier" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en"><![CDATA[
        Identifier of the type of the argument.]]>
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="value" type="core:Text" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en"><![CDATA[
        Value of the argument.]]>
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
</xsd:schema>
