src/site/resources/jdtaus-module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

  jDTAUS - DTAUS fileformat.
  Copyright (C) 2005 - 2007 Christian Schulte <cs@schulte.it>

  This library is free software; you can redistribute it and/or
  modify it under the terms of the GNU Lesser General Public
  License as published by the Free Software Foundation; either
  version 2.1 of the License, or any later version.

  This library is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public
  License along with this library; if not, write to the Free Software
  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

  Document   : jdtaus-module.xsd
  Author     : Christian Schulte <cs@jdtaus.org>
  Description: Schema for the jDTAUS container configuration.
  
  Example usage:

  <?xml version="1.0" encoding="UTF-8"?>
  <jdtaus:module xmlns="http://jdtaus.org/runtime/container/xml"
    xmlns:jdtaus="http://jdtaus.org/runtime/container/xml"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://jdtaus.org/runtime/container/xml http://www.jdtaus.org/1.0.x/jdtaus-core/jdtaus-core-runtime/jdtaus-module.xsd"
    jdtaus:version="1.0">
    
  </jdtaus:module>
  
  $Id: jdtaus-module.xsd 691 2006-12-11 03:37:33Z schulte2005 $
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jdtaus="http://jdtaus.org/runtime/container/xml"
            targetNamespace="http://jdtaus.org/runtime/container/xml"
            xmlns="http://jdtaus.org/runtime/container/xml"
            elementFormDefault="qualified"
            attributeFormDefault="qualified">
  
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Schema for a jDTAUS Module.
    </xsd:documentation>
  </xsd:annotation>
  
  <xsd:element name="module">
    <xsd:complexType>
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Runtime configuration of a jDTAUS module.
        </xsd:documentation>
      </xsd:annotation>
      
      <xsd:sequence>
        <xsd:element name="specifications" minOccurs="0" maxOccurs="1"
                     type="jdtaus:Specifications">
          
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Specifications defined in the module.
            </xsd:documentation>
          </xsd:annotation>
          
          <xsd:unique name="specification-identifier-uniqueness">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Checks specification identifier uniqueness.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:selector xpath="jdtaus:specification"/>
            <xsd:field xpath="@jdtaus:identifier"/>
          </xsd:unique>
        </xsd:element>
        
        <xsd:element name="implementations" minOccurs="0" maxOccurs="1"
                     type="jdtaus:Implementations">
          
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Implementations defined in the module.
            </xsd:documentation>
          </xsd:annotation>
          
          <xsd:unique name="implementation-identifier-uniqueness">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Checks implementation name uniqueness.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:selector xpath="jdtaus:implementation"/>
            <xsd:field xpath="@jdtaus:identifier"/>
          </xsd:unique>
          
        </xsd:element>
        
        <xsd:element name="properties" minOccurs="0" maxOccurs="1"
                     type="jdtaus:Properties">
          
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Module properties.
            </xsd:documentation>
          </xsd:annotation>
          
          <xsd:unique name="property-name-uniqueness">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Checks property name uniqueness.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:selector xpath="jdtaus:property"/>
            <xsd:field xpath="@jdtaus:name"/>
          </xsd:unique>
          
        </xsd:element>
      </xsd:sequence>
      
      <xsd:attribute name="name" type="jdtaus:StringContent"
                     use="required">
        
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Unique logical module name.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      
      <xsd:attribute name="description" type="jdtaus:StringContent"
                     use="required">
        
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Short description of the module.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      
      <xsd:attribute name="version" type="jdtaus:supportedVersionsType"
                     use="required">
        
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Version of the model.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      
    </xsd:complexType>
  </xsd:element>
  <!--                                                                       -->
  <!-- Specifications.                                                       -->
  <!--                                                                       -->
  <xsd:complexType name="Specifications">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Maps class-names to specification meta-data.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="specification" minOccurs="1"
                   maxOccurs="unbounded" type="jdtaus:Specification"/>
      
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="Specification">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Meta-data describing a specification.
      </xsd:documentation>
    </xsd:annotation>
    
    <xsd:attribute name="identifier" type="jdtaus:JavaIdentifier"
                   use="required">
      
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The unique identifier of the specification.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="description" type="jdtaus:StringContent"
                   use="required">
      
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          A short description of the specification.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="vendor" type="jdtaus:StringContent" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The presentation vendor of the specification.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="version" type="jdtaus:StringContent"
                   use="required">
      
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The version of the specification.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="singleton" type="xsd:boolean" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          True if implementations of this specification are considered
          singleton instances. False if a new instance is to be
          created whenever an implementation of this specification is
          requested.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  
  <!--                                                                       -->
  <!-- Implementations.                                                      -->
  <!--                                                                       -->
  <xsd:complexType name="Implementations">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Maps class-names to implementation meta-data.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="implementation" minOccurs="1" maxOccurs="unbounded"
                   type="jdtaus:Implementation"/>
      
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="Implementation">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Meta-data describing an implementation.
      </xsd:documentation>
    </xsd:annotation>
    
    <xsd:sequence>
      <xsd:element name="implementedSpecifications" minOccurs="1" maxOccurs="1"
                   type="jdtaus:ImplementedSpecifications">
        
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Specifications implemented by this implementation.
          </xsd:documentation>
        </xsd:annotation>
        
        <xsd:unique name="implemented-identifier-uniqueness">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Checks specification identifier uniqueness.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:selector xpath="jdtaus:implementedSpecification"/>
          <xsd:field xpath="@jdtaus:identifier"/>
        </xsd:unique>
      </xsd:element>
      
      <xsd:element name="dependencies" minOccurs="0" maxOccurs="1"
                   type="jdtaus:Dependencies">
        
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Implementations the implementation depends on.
          </xsd:documentation>
        </xsd:annotation>
        
        <xsd:unique name="dependency-uniqueness">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Checks dependency uniquenes.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:selector xpath="jdtaus:dependency"/>
          <xsd:field xpath="@jdtaus:name"/>
        </xsd:unique>
        
      </xsd:element>
      
      <xsd:element name="properties" minOccurs="0" maxOccurs="1"
                   type="jdtaus:Properties">
        
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Properties of the implementation. These default values may be
            overridden in dependency definitions.
          </xsd:documentation>
        </xsd:annotation>
        
        <xsd:unique name="implementation-property-uniqueness">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Checks property uniquenes.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:selector xpath="jdtaus:property"/>
          <xsd:field xpath="@jdtaus:name"/>
        </xsd:unique>
        
      </xsd:element>
    </xsd:sequence>
    
    <xsd:attribute name="identifier" type="jdtaus:JavaIdentifier"
                   use="required">
      
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The unique identifier of the implementation.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="name" type="jdtaus:StringContent" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The logical name of the implementation.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="vendor" type="jdtaus:StringContent" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The presentation vendor of the implementation.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="version" type="jdtaus:StringContent" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The version of the implementation.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="parent" type="jdtaus:JavaIdentifier" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Identifier of an implementation this implementation inherits from.
          When given this implementation will inherit up the hierarchy
          starting with parent.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
  </xsd:complexType>
  
  <xsd:complexType name="ImplementedSpecifications">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The specifications implemented by the implementation.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="implementedSpecification" minOccurs="1"
                   maxOccurs="unbounded"
                   type="jdtaus:ImplementedSpecification"/>
      
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ImplementedSpecification">
    <xsd:attribute name="identifier" type="jdtaus:JavaIdentifier"
                   use="required">
      
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The identifier of the specification implemented by the
          implementation.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  
  <xsd:complexType name="Dependencies">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Implementations the implementation depends on.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="dependency" minOccurs="1"
                   maxOccurs="unbounded" type="jdtaus:Dependency"/>
      
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="Dependency">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Implementation an implementation depends on.
      </xsd:documentation>
    </xsd:annotation>
    
    <xsd:sequence>
      <xsd:element name="properties" minOccurs="0" maxOccurs="1"
                   type="jdtaus:Properties">
        
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Properties to be set with &lt;implementationName&gt;
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    
    <xsd:attribute name="specificationIdentifier" type="jdtaus:JavaIdentifier"
                   use="required">
      
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The specification the implementation depends on.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="implementationName" type="jdtaus:StringContent"
                   use="required">
      
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The name of the implementation to use for the specification
          identified by property {@code specificationIdentifier}.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="name" type="jdtaus:StringContent"
                   use="required">
      
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          The logical name of the dependency.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="bound" type="xsd:boolean" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          {@code true} if the same instance should be returned each time the
          dependency is requested; {@code false} if a new instance should be
          returned each time the dependency is requested. If the specification
          has property {@code singleton} set, the singleton instance will always
          be returned each time the dependency is requested.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
  </xsd:complexType>
  
  <!--                                                                       -->
  <!-- Properties.                                                           -->
  <!--                                                                       -->
  <xsd:complexType name="Properties">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Properties.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="property" minOccurs="0"
                   maxOccurs="unbounded" type="jdtaus:Property">
        
        <xsd:unique name="property-uniqueness">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Checks property uniquenes.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:selector xpath="jdtaus:property"/>
          <xsd:field xpath="@jdtaus:name"/>
        </xsd:unique>
        
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="Property">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Property of the module.
      </xsd:documentation>
    </xsd:annotation>
    
    <xsd:attribute name="name" type="jdtaus:StringContent" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Name of the property.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="type" type="jdtaus:propertyType" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Type of the property.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="api" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          true if the property is part of a public API; false if not.
          Defaults to false.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    
    <xsd:attribute name="value" type="jdtaus:StringContent" use="required">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
          Value of the property.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  
  <!-- ******************************************************************* -->
  <!-- ** Common types.                                                  * -->
  <!-- ******************************************************************* -->

  <xsd:simpleType name="StringContent">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Restricts xsd:string to at least one character and no more than 4096
        characters.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="4096"/>
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="JavaIdentifier">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Type for java identifiers.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="collapse"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="supportedVersionsType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The enumeration of supported version identifiers which can be validated
        with the schema.
      </xsd:documentation>
    </xsd:annotation>                                        
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1.0"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="propertyType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The enumeration of java primitive types and theire wrapper classes.
      </xsd:documentation>
    </xsd:annotation>                                        
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="byte"/>
      <xsd:enumeration value="java.lang.Byte"/>
      <xsd:enumeration value="short"/>
      <xsd:enumeration value="java.lang.Short"/>
      <xsd:enumeration value="int"/>
      <xsd:enumeration value="java.lang.Integer"/>
      <xsd:enumeration value="long"/>
      <xsd:enumeration value="java.lang.Long"/>
      <xsd:enumeration value="char"/>
      <xsd:enumeration value="java.lang.Character"/>
      <xsd:enumeration value="float"/>
      <xsd:enumeration value="java.lang.Float"/>
      <xsd:enumeration value="double"/>
      <xsd:enumeration value="java.lang.Double"/>
      <xsd:enumeration value="boolean"/>
      <xsd:enumeration value="java.lang.Boolean"/>
      <xsd:enumeration value="java.lang.String"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>
